p,h1,h3{
	padding: 5px;
	margin:0px;
}
#heading{
	font-family: times;
	color: black;
	text-align: center;
}

a:hover{
	font-family: times;
	color: hotpink;
}

.bold-text{
    font-weight: bold;
}

a:visited {
    color: grey;
}

div.left-dark-border{
	border-left-style: solid;
	border-left-color: dotted dashed rgb(90, 232, 255) ;
	border-left-width: 40px;
}

h3{
	text-decoration: underline;
}
#special-font{
	font-family: georgia;
	font-weight: bold;
}

#bg-color{
	font-family: times;
	/*background-color: rgb(176, 232, 255);*/
}

.hr{
	border-bottom: 1px solid black;
	padding-top: 14px;
    padding-bottom: 14px;
	padding-right: 14px;
	padding-left: 14px;
}

table.head{
	width: 100%;
	margin-left:-14px;
	padding-left: 14px;
	padding-right: 14px;
	/*background-color: rgb(217, 255, 189);*/
}


table.non-head{
	width: 100%;
	border: 1px solid black;
	text-align: left;
	background-color: rgb(172, 232, 255);
}

th,td.title {
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
}

td.right-align{
	text-align: right;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

#email{
	text-align: right;
}